.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  box-shadow: 2px 2px 2px black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.bg h1 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.bg-1 {
  background-image: url(../assets/About/photo-1606415378401-173a0ceafd45.jpg);
  height: 100vh;
  object-fit: cover;
}

.bg-2 {
  background-image: url(../assets/About/photo-1590873803005-539ede4d828a.jpg);
  height: 100vh;
}
.bg-3 {
  height: 100vh;
  background-image: url(../assets/About/photo-1592159945470-474d31a87d03.jpg);
}
.bg-4 {
  background-image: url(../assets/About/photo-1591515446515-2ac7b3fb047b.jpg);
  height: 100vh;
}
