.contact {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(0deg, rgb(14, 13, 13), #fff , #fff); */
  position: relative;
  display: flex;

}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


.wrapper h2 {
  color: #666;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.input-field {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.input-field input,
.input-field textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #666;
  font-size: 16px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
  resize: none;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 16px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.5s;
}

.input-field input:focus + label,
.input-field textarea:focus + label,
.input-field input:valid + label,
.input-field textarea:valid + label {
  top: -25px;
  font-size: 14px;
  padding: 2px 5px;
  background: #ff006a;
  color: #fff;
  border-radius: 4px;
}

.btn-contact {
  margin-top: 20px;
  background: #ff006a;
  color: #fff;
  padding: 15px 30px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.5s;
  float: right;
}

.btn-contact:hover {
  background: #000;
}

.mapter {
  width: 100%;
  height: 40vh;
  border: none;
}

@media (max-width: 600px) {
  .wrapper {
    width: 300px;
  }
}

.contact-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-card {
  width: 300px;
  height: 120px;
  display: flex;
  margin: 20px 0;
}

@media (max-width: 1080px) {
  .contact-info {
    justify-content: space-around;
  }
}

.contact-card i {
  width: 50px;
  height: 50px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.contact-card div {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
