.footer_links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #000;
}

.footer_links div {
  width: 220px;
  margin: 10px;
  height: 100%;
}


.footer_links div p {
  padding: 3px 0;
  cursor: pointer;
  color: #333;
}

.footer_links div p::hover {
  transition: all 0.8;
  color: #000;
}

.footer_links form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
  height: 100%;
}

.footer_links form input {
  height: 30px;
  margin: 3px 0;
  outline: none;
  border: none;
  border-bottom: solid 1px #000;
}

.footer_links form textarea {
  outline: none;
  margin-top: 5px;
  border: none;
  border-bottom: solid 1px #000;
  resize: none;
  height: 50px;
}

.footer_links form button {
  width: 220px;
  margin: 0 auto;
}

.footer_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 7px;
}

.footer_icons svg {
  width: 30px;
  height: 30px;
  margin-right: 18px;
}

.footer_icons svg:hover {
  transform: translateY(-10px);
  transition: all 0.4s;
  cursor: pointer;
}

@media (max-width: 600px) {
  .footer_icons {
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 980px) {
  .footer_links {
    justify-content: space-evenly;
  }
}

@media (min-width: 980px) {
  .footer_links {
    justify-content: space-between;
  }
}
